@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

body{
  font-family: 'Inter', sans-serif;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bluetext {
  color: #343C6A;
}